@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
// Primary colors
$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
// Neutral colors
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
// Font
$font-size: 15px;
$font-family: "Spartan", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.6;
}

section {
  padding: 1.5rem;
  //   margin-bottom: 1rem;
  background: url("../images/bg-pattern-top-mobile.svg") no-repeat,
    url("../images/bg-pattern-bottom-mobile.svg") no-repeat;
  background-position: left top, right bottom;
}

.top {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 4rem 0 2.5rem;

  h1 {
    color: $dark-magenta;
    font-size: 2rem;
    line-height: 1;
  }

  p {
    padding: 1.5rem 0;
    color: $dark-grayish-magenta;
  }

  .rating {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;

    .rate {
      background: $light-grayish-magenta;
      padding: 1rem 1rem;
      margin: 0.5rem 0;
      border-radius: 5px;

      display: grid;
      gap: 0.5rem;

      p {
        color: $dark-magenta;
        padding: unset;
        font-weight: 600;
      }
    }
  }
}

.testimonial {
  display: grid;
  gap: 1rem;
  font-size: 12.7px;
  color: $dark-grayish-magenta;

  .card {
    border-radius: 7px;

    .profile {
      display: flex;
      align-items: center;
      padding: 1.5rem 1rem 1.7rem;
    }

    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }

    .profile-text {
      margin-left: 1.2rem;
      font-weight: 400;

      span {
        display: block;
      }

      .name {
        color: $white;
        font-weight: 600;
      }

      .info {
        color: $soft-pink;
      }
    }

    p {
      padding: 0 1rem 1rem;
      line-height: 1.8;
    }

    background: $dark-magenta;
    color: $light-grayish-magenta;
    padding: 1rem;
  }
}

// Footer
.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 600;
}

@media (min-width: 490px) {
  section {
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 591px) {
  section {
    padding: 1.5rem 4rem;
  }
  .top {
    .top-text {
      width: 80%;
      margin: 0 auto;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 925px) {
  section {
    padding: 1.5rem 6rem;
  }
  .top {
    .top-text {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1000px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  section {
    padding: 3rem 4rem;
    height: 100%;
    text-align: left;
    background: url("../images/bg-pattern-top-desktop.svg") no-repeat,
      url("../images/bg-pattern-bottom-desktop.svg") no-repeat;
    background-size: 42%, 78%;
    background-position: left top, right bottom;
  }

  .container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 49% 51%;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 0 2rem;
  }

  .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    .top-text {
      width: 100%;
    }

    h1 {
      color: $dark-magenta;
      font-size: 2rem;
      line-height: 1;
    }

    p {
      padding: 1.5rem 0;
      color: $dark-grayish-magenta;
    }

    .rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .rate {
        background: $light-grayish-magenta;
        padding: 1.2rem 1rem;
        margin: 0 0 1.2rem;
        border-radius: 5px;
        // width: 450px;
        width: 470px;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: space-between;
        align-items: center;

        &:nth-child(2) {
          align-self: center;
        }
        &:last-child {
          align-self: flex-end;
        }

        .stars {
          justify-self: center;
        }

        p {
          color: $dark-magenta;
          padding: unset;
          font-weight: 600;
        }
      }
    }
  }

  .testimonial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 13.5px;
    // height: 80%;

    .card {
      height: 100%;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (min-width: 1188px) {
  section {
    padding: 3rem 8rem;
  }

  .top {
    gap: 4rem;

    .top-text {
      h1 {
        font-size: 2.5rem;
        padding-right: 2rem;
      }

      // width: 90%;
      // padding-right: 3rem;
    }
  }

  .testimonial {
    height: 80%;

    .card {
      height: unset;
      &:first-child {
        align-self: flex-start;
      }
      &:last-child {
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 1284px) {
  .top {
    .top-text {
      h1 {
        font-size: 3rem;
        padding-right: 3rem;
      }
      padding-right: 3rem;
    }
  }
}
